{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/landing_page.css">

<div class="content-container">

    <div class="disclaimer">
        <h2>Non-Official Site!</h2>
        <p>None of the content or Data is official Information <br>
            This Website is a community project made by 28Kadsen. <br>
        </p>
    </div>

    <div class="preview-container">
        <div class="card">
            <div class="img-container">
                <img src="../static/images/bot.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('share_today') }}">Current Sports Share</a>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="../static/images/history.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('share_history') }}">Sports Share History</a>
            </div>
        </div>
    </div>

    <div class="infos">
        <h3>How do you get all this information??</h3>
        <p>All the data is publicly available. <br>
        Collection stats are from OpenSea. <br>
        Sport Share distribution is from From Rollbits WhitePaper. <br>
        Profit Share per Bot from Rollbit.
        </p>
        <h3>Is the Data accurate??</h3>
        <p>
        It's not completely accurate; as more bots get revealed, the Sports Share will change<br>
        I will update this once a month.  <br>
        Other than that, it should be close to the true amounts.
        </p>
        <h3>Any questions left?</h3>
        <p>Contact me on Discord 28KADSEN#5086
        </p>
        <h3>Like what I do??</h3>
        <p>/tip 28KADSEN
        </p>
    </div>

</div>

{% endblock %}
