{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/landing_page.css">

<div class="content-container">
    <h1>Welcome in 28's Lounge</h1>
    <div class="preview-container">
        <div class="card">
            <div class="img-container">
                <img src="../static/images/bot.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('share_today') }}">Current Sports Share</a>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="../static/images/history.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('share_history') }}">Sports Share History</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
