{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/landing_page.css">

<div class="content-container">

    <div class="disclaimer">
        <h2>Non-Official Site!</h2>
        <p>None of the content or Data is official Information <br>
            This Website is a community project made by 28Kadsen. <br>
        </p>
    </div>

    <div class="trending">
        <h1>Trending Sports:</h1>
        <p>( last 24h )</p>
        <h3>Highest Volume:</h3>
        <div class="top-volume split split-volume">
            {% for x in top_sports %}
            <div class="sport-volume">
                <h3>{{ x.sport }}</h3>
                <p>$ {{ x.combined_share_value }}</p>
            </div>
            {% endfor %}
        </div>
        <h3>Top Moover:</h3>
        <div class="top-moover split">
            <div class="percentage">
                <p style="text-align: center;">%</p>
                <div class="up split">
                    <div class="up-arrow"></div>
                    <h4>{{ movement_dict["lowest_percent"][1] }} % {{ movement_dict["lowest_percent"][0] }}</h4>
                </div>
                <div class="down split">
                    <div class="down-arrow"></div>
                    <h4>{{ movement_dict["highest_percent"][1] }} % {{ movement_dict["highest_percent"][0] }}</h4>
                </div>
            </div>
            <div class="dollar">
                <p style="text-align: center;">$</p>
                <div class="up split">
                    <div class="up-arrow"></div>
                    <h4>{{ movement_dict["highest_dollar"][1] }} $ {{ movement_dict["highest_dollar"][0] }}</h4>
                </div>
                <div class="down split">
                    <div class="down-arrow"></div>
                    <h4>{{ movement_dict["lowest_dollar"][1] }} $ {{ movement_dict["lowest_dollar"][0] }}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="preview-container">
        <div class="card">
            <div class="img-container">
                <img src="../static/images/bot.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('share_today') }}">Current Sports Share</a>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="../static/images/history.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('share_history') }}">Sports Share History</a>
            </div>
        </div>

        <div class="card">
            <div class="img-container">
                <img src="../static/images/calculator.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('roi') }}">Price / ROI Calculator</a>
            </div>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="../static/images/links.png">
            </div>
            <div class="describtion">
                <a href="{{ url_for('resources_page') }}">Resourcess / Links</a>
            </div>
        </div>
    </div>

    <div class="infos">
        <h3>How do you get all this information??</h3>
        <p>All the data is publicly available. <br>
        Collection stats are from OpenSea. <br>
        Sport Share distribution is from From Rollbits WhitePaper. <br>
        Profit Share per Bot from Rollbit.
        </p>
        <h3>Is the Data accurate??</h3>
        <p>
        It's not completely accurate; as more bots get revealed, the Sports Share will change<br>
        I will update this once a month.  <br>
        Other than that, it should be close to the true amounts.
        </p>
        <h3>Any questions left?</h3>
        <p>Contact me on Discord 28KADSEN#5086
        </p>
        <h3>Like what I do??</h3>
        <p>/tip 28KADSEN
        </p>
    </div>

</div>

{% endblock %}
