{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/resources.css">

<div class="content-container">

        <div class="links-container">
            <h1>Rollbit:</h1>
            <div class="link-ele">
                <h3>Website:</h3>
                <a href="https://rollbit.com/" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">
                        <p>https://rollbit.com/</p>
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Website: (NFT Only)</h3>
                <a href="https://rollbot.com/" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbot.com/
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Blog:</h3>
                <a href="https://blog.rollbit.com/" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://blog.rollbit.com/
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Twitter:</h3>
                <a href="https://twitter.com/rollbitcom" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://twitter.com/rollbitcom
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Discord: (Invite Link)</h3>
                <a href="https://discord.gg/AS3JRhpc5V" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://discord.gg/AS3JRhpc5V
                    </div>
                </a>
            </div>
        </div>


        <div class="links-container">
            <h1>V2 Links:</h1>
            <div class="link-ele">
                <h3>Sports Rollbots landing page:</h3>
                <a href="https://rollbot.com/nft/sportsbots" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbot.com/nft/sportsbots
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Sports Rollbots Whitepaper:</h3>
                <a href="https://whitepaper.rollbot.com/rollbot/sports-rollbots" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://whitepaper.rollbot.com/rollbot/sports-rollbots
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Sports Rollbots Rollbit Marketplace:</h3>
                <a href="https://rollbit.com/nft/sportsbot/marketplace" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbit.com/nft/sportsbot/marketplace
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Sports Rollbots OpenSea:</h3>
                <a href="https://opensea.io/collection/sportsbots" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://opensea.io/collection/sportsbots
                    </div>
                </a>
            </div>
        </div>


        <div class="links-container">
            <h1>V1 Links:</h1>
            <div class="link-ele">
                <h3>Rollbots landing page:</h3>
                <a href="https://rollbot.com/nft/rollbots" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbot.com/nft/rollbots
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Rollbots Whitepaper:</h3>
                <a href="https://whitepaper.rollbot.com/rollbot/rollbots-v1" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://whitepaper.rollbot.com/rollbot/rollbots-v1
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Rollbots OpenSea:</h3>
                <a href="https://opensea.io/collection/rollbots" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://opensea.io/collection/rollbots
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>Rollbots Rollbit Marketplace:</h3>
                <a href="https://rollbit.com/nft/rollbot/marketplace" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbit.com/nft/rollbot/marketplace
                    </div>
                </a>
            </div>
            
        </div>


        <div class="links-container">
            <h1>RLB: (Rollbit Coin)</h1>
            <div class="link-ele">
                <h3>RLB WhitePaper:</h3>
                <a href="ttps://rollbot.rollbit.com/rlb.pdf" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbot.rollbit.com/rlb.pdf
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>RLB Staking Lottery:</h3>
                <a href="https://rollbit.com/rlb/lottery/current" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">https://rollbit.com/rlb/lottery/current
                    </div>
                </a>
            </div>
            <div class="link-ele">
                <h3>RLB Dexlab: (Buy/Sell)</h3>
                <a href="https://trade.dexlab.space/#/market/DFdcGFcAVWZ3UgVgpbBChFKen3URZdZ8dmju8GTXQgCE" target="_blank" rel="noopener noreferrer">
                    <div class="link-div">
                        <p>https://trade.dexlab.space/#/market/DFdcGFcAVWZ3UgVgpbBChFKen3URZdZ8dmju8GTXQgCE</p>
                    </div>
                </a>
            </div>
        </div>

</div>
{% endblock %}