{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/share_history.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<section>
   <div class="content-container">

      <h1 style="color: rgb(255,255,255);"> Sportshare History:</h1>

      <div class="container-field">
            <label class="labl">
               <input type="radio" id="body" name="sort" value="total" onclick="displaySortedByBody()">
               <div style="color: white;">Combined per Sport</div>
            </label>
            <label class="labl">
               <input type="radio" id="body" name="sort" value="10" onclick="displaySortedByBody()">
               <div style="color:#F7E95F;">Engraved Gold Skin</div>
            </label>
            <label class="labl">
               <input type="radio" id="body" name="sort" value="5" onclick="displaySortedByBody()">
               <div style="color:#4CAFB5;">Aqua Style Skin</div>
            </label>
            <label class="labl">
               <input type="radio" id="body" name="sort" value="4" onclick="displaySortedByBody()">
               <div style="color:#E8513C;">Lava Skin</div>
            </label>
            <label class="labl">
               <input type="radio" id="body" name="sort" value="3" onclick="displaySortedByBody()">
               <div style="color:#60A0F8;">Electric Space Skin</div>
            </label>
            <label class="labl">
               <input type="radio" id="body" name="sort" value="2" onclick="displaySortedByBody()">
               <div style="color:#918FA3;">Flame Ceramic Skin</div>
            </label>
            <label class="labl">
               <input type="radio" id="body" name="sort" value="1" onclick="displaySortedByBody()" checked>
               <div style="color:#9DA8AF;">Steel Skin</div>
            </label>
      </div>

      <div class="select-sport-container">
         <label id="search-sport-label" for="sports">Search a Sport:</label>
         <select class="sports" id="sports" onchange="sortBySport(this)">
         </select>
         <button class="clearbtn" onclick="reset()">Clear Selection</button>
         <script>
            const mylabel = {{ label | safe }}

            function createOptionElement(sport_name) {
               var select, option
               select = document.getElementById("sports")
               option = document.createElement("option");
               option.value = option.text = sport_name;
               select.add(option);
            };

            for(let i = 0, len = mylabel.length; i < len; i++) {
               createOptionElement(mylabel[i])
            };

            function sortBySport(selectedSport) {
               var value = selectedSport.value;
               var index = mylabel.indexOf(value);
               clear();
               draw(index);
            };
         </script>

      </div>

      <!-- js below creates all charts in this container -->
      <div class="charts-container" id="charts-container">
         <script>

            window.onload = function() {
               sortBodyFunction();
               draw_all();
            };

            var values = [];

            function displaySortedByBody(){
               sortBodyFunction();
               refresh();
            }

            function sortBodyFunction(){
               values.splice(0,values.length)
               const input = document.querySelector('input[name="sort"]:checked').value;
               const myBaseValues = {{ values_base | safe }}
               const myCombinedValues = {{ values_combined | safe }}
               if (input == "total") {
                  for (let i = 0, len = myCombinedValues.length; i < len; i++) {
                     var b = myCombinedValues[i];
                     values.push(b);
                  }
               } else {
                  for (let i = 0, len = myBaseValues.length; i < len; i++) {
                     var b = myBaseValues[i].map(function(x){ return x * (input); });
                     values.push(b)
                  }
               }
            };

            const mylabels = {{ labels | safe }}

            function refresh() {
               var elements = document.getElementsByClassName("work");
               console.log(elements)
               if (typeof elements !== 'undefined') {
                  var ids = [];
                  for (var i = 0; i < elements.length; i++) {
                     console.log(elements[i].id);
                     ids.push((elements[i].id));
                  }
                  clear();
                  for (var i = 0; i < ids.length; i++) {
                     var index = mylabel.indexOf(ids[i]);
                     draw(index);
                  }
               } else {
                  console.log("leeel")
               };
            };

            function clear() {
               const oldCanvas = document.getElementsByClassName("work");
               while(oldCanvas.length > 0){
                  oldCanvas[0].parentNode.removeChild(oldCanvas[0]);
               }
            };

            function reset() {
               var checkboxes  = document.getElementsByName("sort");
               console.log(checkboxes)
               for (var checkbox of checkboxes ) {
                  checkbox.checked = false;
               }
               checkboxes[checkboxes.length - 1].checked = true;

               clear();
               sortBodyFunction();
               draw_all();
            };

            function draw_all() {
               for (let i = 0; i < mylabel.length; i++) {
                  draw(i);
               };
            };
               function draw(i) {
                  if (mylabel[i] == "total") {
                     console.log("got em")
                  } else {

                     const config = {
                        type: 'line',
                        options: {
                           scales: {
                              x: {
                                 display: true,
                              },
                              y: {
                                 display: true,
                                 type: 'logarithmic'
                              }
                           },
                           interaction: {
                              intersect: false,
                              mode: 'index',
                           },
                           plugins: {
                              tooltip: {
                              },
                              title: {
                                 display: true,
                                 text: mylabel[i],
                              }
                           }
                        }
                     };

                     const newDiv = document.createElement("div");
                     const newCanvas = document.createElement("canvas");
                     newCanvas.setAttribute("id", mylabel[i]);
                     newCanvas.setAttribute("class", "work");
                     newDiv.appendChild(newCanvas);
                     document.getElementById("charts-container").appendChild(newDiv);

                     const ctx = document.getElementById(mylabel[i]);

                     const myChart = new Chart(ctx, {
                        type: config["type"],
                        data: {
                           labels: mylabels[i],
                           datasets: [
                                 {
                                    label: mylabel[i],
                                    data: values[i],
                                    backgroundColor: 'rgb(0, 176, 3)',
                                    borderColor: 'rgb(0, 176, 3)',
                                    borderWidth: 2
                                 }
                              ]
                        },
                        options: config["options"]
                     });

                  };
               };

         </script>
      </div>

   </div>
</section>

<script src="..//static/js/share_history.js"></script>

{% endblock %}