{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/share_today.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<section>
   <div class="content-container">

      <div>
         <canvas id="myChart" width="600" height="800"></canvas>
      </div>

      <script>
         const data =  {
            labels: {{labels | safe}},
            datasets: [{
               label: "my label",
               data: {{ values | safe }},
               backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(255, 159, 64, 0.2)',
                  'rgba(255, 205, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(201, 203, 207, 0.2)'
               ],
               borderColor: [
                  'rgb(255, 99, 132)',
                  'rgb(255, 159, 64)',
                  'rgb(255, 205, 86)',
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)',
                  'rgb(201, 203, 207)'
               ],
               borderWidth: 1
            }]
         };


         const config = {
            type: 'doughnut',
            options: {
               plugins:
                  {
                  responsive: true,
                  maintainAspectRatio: false,
               }
            }
         };

         const ctx = document.getElementById('myChart');

         const myChart = new Chart(ctx, {
            type: config["type"],
            data: data,
            options: config["options"]
         });
      </script>

   </div>
</section>

<script src="..//static/js/share_today.js"></script>

{% endblock %}

