{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="..//static/share_history.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<section>
   <div class="content-container">

      <h1 style="color: rgb(255,255,255);"> Sportshare History:</h1>

      <!-- js below creates all charts in this container -->
      <div class="charts-container" id="charts-container">
         <script>

            const mylabel = {{ label | safe }}
            const mylables = {{ labels | safe }}
            const myBaseValues = {{ values_base | safe }}
            const myCombinedValues = {{ values_combined | safe }}

            for (let i = 0; i < mylabel.length; i++) {

               const config = {
                  type: 'line',
                  options: {
                     scales: {
                        x: {
                           display: true,
                        },
                        y: {
                           display: true,
                           type: 'logarithmic'
                        }
                     },
                     interaction: {
                        intersect: false,
                        mode: 'index',
                     },
                     plugins: {
                        tooltip: {
                        },
                        title: {
                           display: true,
                           text: mylabel[i],
                        }
                     }
                  }
               };

               const newDiv = document.createElement("div");
               const newCanvas = document.createElement("canvas");
               newCanvas.setAttribute("id", mylabel[i]);
               newDiv.appendChild(newCanvas);
               document.getElementById("charts-container").appendChild(newDiv);

               const ctx = document.getElementById(mylabel[i]);

               const myChart = new Chart(ctx, {
                  type: config["type"],
                  data: {
                     labels: mylables[i],
                     datasets: [
                           {
                              label: "Total",
                              data: myCombinedValues[i],
                              backgroundColor: 'rgb(255, 0,0)',
                              borderColor: 'rgb(60,179,113)',
                              borderWidth: 1
                           },
                           {
                              label: "Single",
                              data: myBaseValues[i],
                              backgroundColor: 'rgb(238, 130, 238)',
                              borderColor: 'rgb(106, 90, 205)',
                              borderWidth: 1
                           }
                        ]
                  },
                  options: config["options"]
               });

            };

         </script>
      </div>

   </div>
</section>

<script src="..//static/js/share_history.js"></script>

{% endblock %}