
body {
    margin: 0;
    padding: 0;
    background-color: #414658;
}


.lotto-header h1 {
    font-size: 5.5rem;
    text-align: center;
    color: #FCFCFC;
}



.bot-container {
    margin: auto;
    max-width: 90.5rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.card {
    background-color: #1A1D29;
    min-width: 18rem;
    width: 18rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}

.image-container {
    height: 286px;
    background-color: #414658;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
/* #1F2330 */

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 18rem;
    border-radius: 8px;
}

.card-body {
    height: 10.5rem;
    margin-bottom: 2em;
}

.posi {
    color: #8B8E9D;
}
.name {
    color: #FCFCFC;
}
.team {
    color: #FCFCFC;
}

.amount {
    color: #71F138;
}