
p {
    margin: 0 !important;
}
h3 {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

.form-container {
    color: white;
    margin-top: 25px;
    padding: 10px 20px;
    width: 100%;
    background-color: #1F2330;
    border-radius: 12px;
    display: block;
    text-align: center;
}

@media only screen and (max-width: 1400px) {
    .test {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .test input {
        margin: 10px;
    }
}


.post-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: ;
}

.calculator-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: ;
}


.bot-card-container {
    padding-top: 50px;

}

.split {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 100%;
    color: white;
    background-color: #1F2330;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 8px;
}
.card-body {
    height: auto;
    margin-bottom: 1em;
}


.image-container {
    vertical-align: middle;
    background-color: #1A1D29;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
.image {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}


.info {
    width: 80%;
    background-color: #1A1D29;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

input {
    color: ;
    background-color: #1A1D29;
    border: 0px solid white;
    border-radius: 4px;
    padding: 15px 20px 15px 20px;
}

#roi {
    color: #FFF01F;
}
#yreturn {
    color: #72f238;
}