.content-container {
    text-align: center;
}
.content-container h1 {
    margin-bottom: 25px;
}

input {
    margin: .4rem;
}

.charts-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px 0 25px 0;
}

.charts-container > div {
    width: 80%;
}

/* @media only screen and (min-width: 1400px) {
    .charts-container > div {
        width: 40%;
    }
} */

.container-field {
    width: 60%;
    margin: auto;
}

.labl {
    display : block;
    width: 100%;
    padding: 0 20% 0 20%;
}
.labl > input{
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.labl > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    background-color: #FFF01F;
    border: 1px solid #ff6600;
}


#search-sport-label {
    color: white;
}

.clearbtn {
    background-color: #ff3333;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
  }

  .sports {
    padding: 8px 16px;
  }

  .work {
    margin-bottom: 50px;
  }