
.content-container {
    margin: 20px auto 50px auto;
    width: 80%;
    height: 700px;
}

@media screen and (max-width: 500px){
    .content-container {
        width: 100%;
        margin: 20px 0 20px 0;
    }
}

.total {
    width: 100%;
    background-color: #10121A;
    color: white;
    margin: auto;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.sport-container {
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sport {
    margin: 10px 2.5px 10px 2.5px;
    padding: 5px 0 0 0;
    background-color: #141622;
    color: rgb(255,255,255);
    width: 20%;
    min-width: 150px;
    border-radius: 8px;
    text-align: center;
}
.sport-day {
    border: 1px solid #FFF01F;
}

.sport-week {
    border: 1px solid rgb(255,61,61);
}

.money {
    color: rgb(114, 242, 56);;
}

.toggle-div {
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: baseline;
    color: white;
    margin-bottom: 25px;
}

#toggle-button {
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    border: 3px solid #10121A;
    color: black;
    margin-right: 10px;
}

.day-border-color {
    background-color:#FFF01F;
}
.weekly-border-color {
    background-color: rgb(255,61,61);
}
