
body {
    margin: 0;
    padding: 0;
    background-color: #414658;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}


.bot-header h1 {
    font-size: 5.5rem;
    text-align: center;
    color: #FCFCFC;
}
.roi-calculator h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #FCFCFC;
}

.bot-card-container {
    margin: auto;
    max-width: 90.5rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.card {
    background-color: #1A1D29;
    min-width: 18rem;
    width: 18rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
}

.image-container {
    height: 286px;
    background-color: #414658;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
/* #1F2330 */

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 18rem;
    border-radius: 8px;
}

.card-body {
    height: auto;
    margin-bottom: 2em;
}

.split {
    display: flex;
    justify-content: space-between;
}
.center {
    width: 100%;
    text-align: center;
}

.value {
    width: 40%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 1em;
    background-color: #414658;
    text-align: center;
    border-radius: 12px;
}
.price {
    display: inline-block;
}

.card-body h1 {
    color:#FCFCFC;
}
.card-body h5 {
    color:#FCFCFC;
}

.name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* .share {
    color: #71F138;
}

.bet {
    color: #71F138;
} */

.link-button {
    background-color: rgb(255, 232, 26);;
    border: none;
    color: rgb(20, 23, 34);;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;

    box-shadow: rgb(255 176 25 / 44%) 0px 0px 10px, rgb(255 255 255 / 20%) 0px 1px 0px inset, rgb(255 176 25) 0px 0px 12px inset;
}

.roi h1 {
    color: rgb(20, 23, 34);
}
.roi span {
    color: rgb(20, 23, 34);;
}
